@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  cursor: none;
}

body {
  background: rgb(35, 35, 35);
  overflow-y: hidden;
}

.Emojis_Elems {
  pointer-events: none;
}