@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  cursor: none;
}

body {
  background: rgb(0, 0, 0);
  overflow-y: hidden;
  color: white;
}

.Emojis_Elems {
  pointer-events: none;
}